@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.movie_card {
    position: relative;
    display: block;
    width: 800px;
    height: 300px;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        transition: all 0.4s;
        z-index: 10;
    }

    .info_section {
        position: relative;
        width: 100%;
        height: 100%;
        background-blend-mode: multiply;
        z-index: 2;
        border-radius: 10px;

        .movie_header {
            position: relative;
            padding: 25px;
            height: 40%;

            h1 {
                color: #fff;
                font-weight: 400;
            }

            h4 {
                color: #9ac7fa;
                font-weight: 400;
            }

            .minutes {
                display: inline-block;
                margin-top: 10px;
                color: #fff;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.13);
            }


            .locandina {
                position: relative;
                float: left;
                margin-right: 20px;
                height: 120px;
                box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
            }

            .rating {
                color: #fff;
                padding: 10px 8px;
                font-weight: 500;
            }
        }

        .movie_desc {
            padding: 25px;
            height: 50%;

            .text {
                color: #cfd6e1;
                margin-top: 8px;
            }
        }
    }

    .blur_back {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        right: 0;
        background-size: cover;
        border-radius: 11px;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
    .movie_header {
        width: 60%;
    }

    .movie_desc {
        width: 50%;
    }

    .info_section {
        background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    }

    .blur_back {
        width: 50%;
        background-position: -100% 30% !important;
    }
}

@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back {
        width: 100%;
        background-position: 50% 30% !important;
    }

    .movie_header {
        width: 100%;
        margin-top: 85px;
    }

    .movie_desc {
        width: 100%;
    }

    .info_section {
        background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
        display: inline-grid;
    }
}


/* #bright {
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);

    &:hover {
        box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
    }
} */
#bright {
    box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);

    &:hover {
        box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
    }
}

/* #bright {
    box-shadow: 0px 0px 150px -45px rgba(245, 197, 24, 0.75);

    &:hover {
        box-shadow: 0px 0px 120px -55px rgba(245, 197, 24, 0.75);
    }
} */